.header {
    grid-area: header;
    background-color: #65C3E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.loginBlock {

}

.loginBlock a {
    color: white;
    text-decoration: none;
}